@import '~antd/dist/antd.css';

@import url('https://fonts.googleapis.com/css?family=Libre+Franklin&display=swap');

h1, h2, h3, h4, h5, p, a, span, button, input, 
.ant-typography,
.ant-tag {
  font-family: 'Libre Franklin', sans-serif;
}

.desktop-only {
  display: none;
}


@media(min-width: 768px) {
  .desktop-only {
    display: inline-block;
  }
}

.ant-avatar-image > img {
  height: auto;
}